<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <link rel="stylesheet" type="text/css" href="/style3.css">
</head>
<body>
<form th:action="@{/productos/add}" th:object="${Productos}" method="post">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" th:field="*{nombre}" class="form-control" placeholder="Set Product Name: "/>
  </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">ADD</button>
        <a th:href="@{/productos}" class="go-back-button">Go Back</a>
    </div>
</form>
</body>
</html>